.container {
	margin: 20px;
	width: 100vw;
}

:host {
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.row {
	display: flex;
	flex-direction: row;
}

.row > div {
	margin-right: 10px;
}

.row > div:last-child {
	margin-right: 0;
}