.green {
	background-color: rgb(46, 204, 113);
}

.orange {
	background-color: rgb(243, 156, 18);
}

.red {
	background-color: rgb(231, 76, 60);
}

.gray {
	background-color: rgb(149, 165, 166) !important;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

.dot:last-of-type {
	margin-right: 0;
}


:host {
	width: 100%;
}

.table {
	width: 100%;
}